body {
    background-color: #F1F0C0;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.text {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
    background: #F1F0C0;
    border: none;
    font-size: 15px;
    color: #0071c2;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    cursor: pointer;
    background: #0071c2;
    color: aliceblue;
    text-transform: uppercase;
    padding: 20px 50px;
    border: none;
    font-family: 'Montserrat', sans-serif;
} 

.btn_all {
    margin-top: 20px;
    cursor: pointer;
    background: rgb(133, 201, 24);
    color: aliceblue;
    text-transform: uppercase;
    padding: 20px 50px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}